<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
  <div>
    <h1><%= chat.user %></h1>
    <h3><%= chat.id %></h3>
    <img src="<%= chat.image %>" style="height: 20rem;width: 30rem;"/>
    <p><%= chat.conversation %></p>
  </div>
</body>
</html>